.u-d {
  &-b {
    display: block;
  }
  &-ib {
    display: inline-block;
  }
  &-i {
    display: inline;
  }
  &-f {
    display: flex;
    &--jc {
      justify-content: center;
    }
    &--jfs {
      justify-content: flex-start;
    }
    &--jfe {
      justify-content: flex-end;
    }
  }
}
