.c-archive-list {
  &__item {
    display: block;
    &-wrap {
      display: inline-block;
      position: relative;
      padding-right: 10px;
      padding-left: 20px;
      color: $color-text-black;
      text-decoration: none;
      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
      }
      &:before {
        width: 6px;
        height: 2px;
        top: (1.75 / 2) * 1rem;
        left: 0;
        z-index: 10;
        margin-top: -1px;
        background-color: $color-text-black;
      }
      &:after {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: $color-text-black;
      }
    }
    &-label {
      position: relative;
      z-index: 10;
    }
  }
  //
  // Interaction
  //
  &__item {
    &-wrap {
      &:before {
        transition-duration: 0.6s;
        transition-timing-function: $easeOutCirc;
      }
      &:after {
        transform: scaleX(0);
        transform-origin: left;
        transition-duration: 0.6s;
        transition-timing-function: $easeOutCirc;
      }
      &:hover {
        &:before {
          background-color: #fff;
        }
        &:after {
          transform: scaleX(1);
        }
      }
    }
    &-label {
      transition-duration: 0.6s;
      transition-timing-function: $easeOutCirc;
    }
    &-wrap:hover & {
      &-label {
        color: #fff;
      }
    }
  }

}
