.c-archive-header {
  margin-top: 0;
  font-weight: 400;
  @include l-pc-all {
    margin-bottom: 50px;
    @include fontSize(28);
  }
  @include l-tablet {
    margin-bottom: 50px;
    @include fontSize(24);
  }
  @include l-mobile {
    margin-bottom: 30px;
    @include fontSize(20);
  }
  &__label1 {
    display: inline-block;
    font-family: $font-en;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  &__label2 {
    display: inline-block;
  }
}
