.c-books {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  a {
    display: block;
    width: 22.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    &:nth-of-type(4n+1) {
      margin-left: 0;
    }
    img {
      width: 100%;
    }
  }
}
