.c-entry-header {
  color: $color-white;
  border-radius: 3px;
  background-color: $color-black;
  @include l-pc-all {
    padding: 30px;
    margin-bottom: 50px;
  }
  @include l-tablet {
    padding: 30px;
    margin-bottom: 50px;
  }
  @include l-mobile {
    padding: 20px;
    margin-bottom: 30px;
  }
  &__date {
    line-height: 1;
    font-family: $font-en;
    @include l-pc-all {
      margin-bottom: 15px;
      @include fontSize(21);
    }
    @include l-tablet {
      margin-bottom: 10px;
      @include fontSize(18);
    }
    @include l-mobile {
      margin-bottom: 10px;
      @include fontSize(15);
    }
  }
  &__title {
    line-height: 1.5;
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 0;
    @include l-pc-all {
      margin-bottom: 15px;
      @include fontSize(28);
    }
    @include l-tablet {
      margin-bottom: 10px;
      @include fontSize(24);
    }
    @include l-mobile {
      margin-bottom: 10px;
      @include fontSize(20);
    }
  }
  &__categories {
    line-height: 1.5;
    &-label {
      display: inline-block;
      line-height: 1;
      font-family: $font-en;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      @include l-pc-all {
        @include fontSize(14);
      }
      @include l-tablet {
        @include fontSize(14);
      }
      @include l-mobile {
        @include fontSize(13);
      }
    }
    &-item {
      position: relative;
      display: inline-block;
      margin-left: 5px;
      padding-right: 5px;
      color: $color-white;
      text-decoration: none;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: $color-link;
      }
      &-label {
        position: relative;
        z-index: 10;
      }
    }
  }
  //
  // Interaction
  //
  &__categories {
    &-item {
      &:after {
        transform: scaleX(0);
        transform-origin: left;
        transition-duration: 0.6s;
        transition-timing-function: $easeOutCirc;
      }
      &-label {
        transition-duration: 0.6s;
        transition-timing-function: $easeOutCirc;
      }
      &:hover {
        &:after {
          transform: scaleX(1);
          background-color: $color-link;
        }
      }
      &:hover & {
        &-label {
          color: #fff;
        }
      }
    }
  }
}
