.c-entries {
  &__item {
    margin-bottom: 30px;
    &-wrap {
      display: flex;
      align-items: flex-start;
      color: $color-black;
      text-decoration: none;
    }
    &-eyecatch {
      overflow: hidden;
      border-radius: 3px;
      @include l-pc-all {
        width: (4 / 16) * 100%;
      }
      @include l-tablet {
        width: (6 / 26) * 100%;
      }
      @include l-mobile {
        width: (4 / 16) * 100%;
      }
      img {
        width: 100%;
        display: block;
      }
    }
    &-body {
      box-sizing: border-box;
      @include l-pc-all {
        width: (12 / 16) * 100%;
        padding-left: 30px;
      }
      @include l-tablet {
        width: (20 / 26) * 100%;
        padding-left: 30px;
      }
      @include l-mobile {
        width: (12 / 16) * 100%;
        padding-left: 20px;
      }
    }
    &-date {
      line-height: 1;
      margin-bottom: 12px;
      font-family: $font-en;
      @include l-pc-l {
        @include fontSize(21);
      }
      @include l-pc-and-tablet {
        @include fontSize(18);
      }
      @include l-mobile {
        @include fontSize(15);
      }
    }
    &-title {
      line-height: 1.5;
      margin-bottom: 8px;
      font-weight: 700;
      @include l-pc-l {
        @include fontSize(24);
      }
      @include l-pc-and-tablet {
        @include fontSize(21);
      }
      @include l-mobile {
        @include fontSize(16);
      }
    }
    &-description {
      margin: 0;
    }
    &:first-of-type {
      &:before {
        display: none;
      }
    }
  }
  //
  // Interaction
  //
  &__item {
    &-wrap {
      transition-duration: 0.6s;
      transition-timing-function: $easeOutCirc;
    }
    &:hover & {
      &-wrap {
        color: $color-link;
      }
    }
  }
}
