.c-sub-section {
  @include l-pc-all {
    margin-bottom: 50px;
  }
  @include l-tablet {
    margin-bottom: 40px;
  }
  @include l-mobile {
    margin-bottom: 30px;
  }
  &__head {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: $font-en;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  &__body {

  }
}
