@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-size: 100%;
  background: transparent;
}

body {
  line-height: 1;
  color: #333;
  font-size: 100%;
  font-family: "Montserrat Alternates", "メイリオ","Meiryo",verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
img {
  vertical-align: top;
}

li {
  list-style: none;
}

cite, em, var {
  font-style: normal;
}

ins {
  text-decoration: none;
}

mark {
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

input, select, textarea, button {
  -webkit-appearance: none;
  font-size: 100%;
  font-family: "メイリオ","Meiryo",verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
}

/* ==================================================================

  基礎要素・汎用class
------------------------------------------------------------------ */
::selection {
  background: #42403d;
  color: white;
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  min-width: 1020px;
  min-height: 100%;
  overflow: hidden;
  -webkit-text-size-adjust: none;
  background-color: #ded3c0;
}

a {
  color: #5d6d7a;
  transition: 0.2s;
}
a:hover {
  color: #b6c7d6;
  text-decoration: none;
}

.clearfix, #Contents {
  min-height: 1px;
}
.clearfix:before, #Contents:before, .clearfix:after, #Contents:after {
  content: "";
  display: table;
}
.clearfix:after, #Contents:after {
  clear: both;
}

/* ==================================================================

  基礎レイアウト
------------------------------------------------------------------ */
#GlobalHeader {
  height: 180px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
}
#GlobalHeader .inner {
  width: 1020px;
  height: 180px;
  position: relative;
  margin: 0 auto;
}
#GlobalHeader .website-title {
  position: absolute;
  top: 36px;
  left: 0;
}
#GlobalHeader .website-description {
  width: 380px;
  line-height: 1.5;
  position: absolute;
  top: 102px;
  left: 0;
  font-size: 87.5%;
}
#GlobalHeader .big-banner {
  position: absolute;
  top: 75px;
  right: 0;
  left: 0;
  text-align: center;
}
#GlobalHeader .feed a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 50px;
  border-radius: 0 0 3px 3px;
  color: #333333;
  text-decoration: none;
  background-color: white;
}
#GlobalHeader .feed a:hover {
  background-color: #eeeeee;
}

#Contents {
  width: 1020px;
  margin: 180px auto 0;
  padding-bottom: 30px;
}

#Main {
  width: 705px;
  float: left;
}

#Sub {
  width: 300px;
  float: right;
}
#Sub dl {
  overflow: hidden;
  margin-top: 15px;
  border-radius: 3px;
}
#Sub dl dt {
  display: block;
  padding: 15px 20px;
  color: white;
  background-color: #42403d;
}
#Sub dl dd figure {
  margin-bottom: 10px;
  text-align: center;
}
#Sub dl dd li {
  border-top: 1px solid white;
}
#Sub dl dd a {
  display: block;
  line-height: 1.25;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 87.5%;
  background-color: #5d6d7a;
}
#Sub dl dd a:hover {
  padding-left: 30px;
  color: white;
  background-color: #b6c7d6;
}

.profile-text {
  line-height: 1.5;
  padding: 15px 20px 20px;
  font-size: 87.5%;
  background-color: white;
}
.profile-text .name {
  margin-bottom: 5px;
  font-size: 128.57143%;
}

#GlobalFooter {
  width: 1020px;
  line-height: 1.75;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid #333333;
  font-size: 87.5%;
  text-align: center;
}

/* ==================================================================

  canvas
------------------------------------------------------------------ */
#back-wave {
  min-width: 1020px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/* ==================================================================

  entry-list 記事一覧
------------------------------------------------------------------ */
.entry-list-item {
  margin-bottom: 5px;
}
.entry-list-item a {
  display: block;
  padding: 20px 30px;
  border-left: 7px solid #5d6d7a;
  border-radius: 3px;
  color: #333333;
  text-decoration: none;
  background-color: white;
}
.entry-list-item a:hover {
  background-color: #eeeeee;
}
.entry-list-item h1 {
  line-height: 1.25;
  margin-top: 5px;
  font-size: 150%;
}
.entry-list-item .date {
  line-height: 1.25;
  font-weight: 700;
  font-size: 112.5%;
}
.entry-list-item .excerpt {
  line-height: 1.75;
  margin-top: 5px;
  font-size: 87.5%;
}

.archiveTitle {
  margin-bottom: 5px;
  padding: 15px 30px;
  border-radius: 3px;
  font-size: 150%;
  background-color: white;
}

.paging {
  margin-top: 30px;
  text-align: center;
}
.paging li {
  display: inline-block;
  margin: 0 2px;
}
.paging li a {
  width: 30px;
  display: block;
  padding: 10px 0;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  background-color: #5d6d7a;
}
.paging li a:hover {
  background-color: #b6c7d6;
}
.paging li span {
  width: 30px;
  display: block;
  padding: 10px 0;
  border-radius: 3px;
  color: #333333;
  background-color: white;
}

/* ==================================================================

  entry 記事本文
------------------------------------------------------------------ */
.entry-body {
  line-height: 1.75;
  padding: 40px 30px;
  border-radius: 3px;
  background-color: white;
}
.entry-body > h1 {
  line-height: 1.25;
  margin-bottom: 10px;
  font-size: 187.5%;
}
.entry-body .date {
  font-weight: 700;
  font-size: 131.25%;
}
.entry-body p, .entry-body ul, .entry-body ol, .entry-body dl, .entry-body blockquote, .entry-body pre {
  margin-bottom: 1.75em;
}
.entry-body h2, .entry-body h3, .entry-body h4, .entry-body h5, .entry-body h6 {
  margin-top: 1.25em;
  margin-bottom: 0.75em;
}
.entry-body h2 {
  padding-top: 0.75em;
  border-top: 3px dotted #42403d;
  font-size: 150%;
}
.entry-body ul li {
  list-style-type: disc;
  margin-top: 0.25em;
  margin-left: 2.5em;
}
.entry-body ol li {
  list-style-type: decimal;
  margin-top: 0.25em;
  margin-left: 2.5em;
}
.entry-body blockquote {
  position: relative;
  padding: 1.25em 1.25em 0.75em 60px;
  border-radius: 3px;
  color: #5d6d7a;
  font-style: italic;
  background-color: #eeeeee;
}
.entry-body blockquote:before {
  content: '“';
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 300%;
}
.entry-body blockquote p {
  margin-bottom: 0.5em;
}
.entry-body code {
  line-height: 1.5;
  border-radius: 3px;
  font-size: 87.5%;
  font-family: 'Source Code Pro', sans-serif;
}

.snsWidget {
  margin-top: 15px;
  padding: 15px 0;
  border-radius: 3px;
  text-align: center;
  background-color: white;
}
.snsWidget li {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
}

.rectangle-banner {
  margin: 15px 0;
  text-align: center;
}

.adjacentLink {
  margin-top: 15px;
}
.adjacentLink li {
  margin-bottom: 5px;
}
.adjacentLink li a {
  display: block;
  line-height: 1.25;
  padding: 10px 30px;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  background-color: #5d6d7a;
}
.adjacentLink li a:hover {
  background-color: #b6c7d6;
}

.blogtop a {
  display: block;
  line-height: 1.25;
  padding: 10px 30px;
  border-radius: 3px;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #5d6d7a;
}
.blogtop a:hover {
  background-color: #b6c7d6;
}

/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  background: #23241f;
  -webkit-text-size-adjust: none;
}

.hljs,
.hljs-tag,
.css .hljs-rules,
.css .hljs-value,
.css .hljs-function
.hljs-preprocessor,
.hljs-pragma {
  color: #f8f8f2;
}

.hljs-strongemphasis,
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-number,
.hljs-regexp,
.alias .hljs-keyword,
.hljs-literal,
.hljs-hexcolor {
  color: #ae81ff;
}

.hljs-tag .hljs-value,
.hljs-code,
.hljs-title,
.css .hljs-class,
.hljs-class .hljs-title:last-child {
  color: #a6e22e;
}

.hljs-link_url {
  font-size: 80%;
}

.hljs-strong,
.hljs-strongemphasis {
  font-weight: bold;
}

.hljs-emphasis,
.hljs-strongemphasis,
.hljs-class .hljs-title:last-child {
  font-style: italic;
}

.hljs-keyword,
.hljs-function,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.lisp .hljs-title,
.clojure .hljs-built_in,
.nginx .hljs-title,
.tex .hljs-special,
.hljs-header,
.hljs-attribute,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-tag .hljs-title,
.hljs-value,
.alias .hljs-keyword:first-child,
.css .hljs-tag,
.css .unit,
.css .hljs-important {
  color: #f92672;
}

.hljs-function .hljs-keyword,
.hljs-class .hljs-keyword:first-child,
.hljs-constant,
.css .hljs-attribute {
  color: #66d9ef;
}

.hljs-variable,
.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.css .hljs-id,
.hljs-subst,
.hljs-type,
.ruby .hljs-class .hljs-parent,
.hljs-built_in,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt,
.hljs-link_label,
.hljs-link_url {
  color: #e6db74;
}

.hljs-comment,
.hljs-javadoc,
.hljs-annotation,
.hljs-decorator,
.hljs-template_comment,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
  color: #75715e;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata,
.xml .php,
.php .xml {
  opacity: 0.5;
}
