extends ./_layout/_page.pug

block vars
  -
    var page = pages.index;

block content
  .c-entries
    - for (var i = 0; i < 5; i++)
      .c-entries__item
        a.c-entries__item-wrap(href="single.html")
          .c-entries__item-date
            |2017.12.31
          .c-entries__item-title
            |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
          .c-entries__item-description
            |概要文ですテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
  .c-pager
    a.c-pager__item(href="") Prev
    a.c-pager__item(href="") 1
    span.c-pager__item 2
    a.c-pager__item(href="") 3
    a.c-pager__item(href="") 4
    a.c-pager__item(href="") 5
    a.c-pager__item(href="") Next
