extends ./_layout/_page.pug

block vars
  -
    var page = pages.single;

block content
  .c-entry-header
    h1.c-entry-header__title
      |記事タイトル記事タイトル記事タイトル記事タイトル記事タイトル記事タイトル記事タイトル
    .c-entry-header__date
      |2017.12.31
    .c-entry-header__categories
      a.c-entry-header__categories-item(href="archive.html")
        |Category Name
      a.c-entry-header__categories-item(href="archive.html")
        |Category Name
  .c-entry-contents
    
