@charset "utf-8";

/* ==================================================================

  基礎要素・汎用class
------------------------------------------------------------------ */
::selection{
  background: $ash-dark2;
  color: $white;
}
html {
  height: 100%;
  overflow-y: scroll;
}
body {
  min-width: 1020px;
  min-height: 100%;
  overflow: hidden;
  -webkit-text-size-adjust: none;
  background-color: rgba(40,40,10,1);
  @media #{$spView} {
    min-width: 100%;
  }
}
a {
  color: $gray;
  transition: 0.2s;
  &:hover {
  color: $gray-light;
    text-decoration: none;
  }
}
.clearfix {
  min-height: 1px;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
/* ==================================================================

  基礎レイアウト
------------------------------------------------------------------ */
#Page {
  padding: 0 10px;
}
#GlobalHeader {
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: $white;
  .inner {
    width: 1020px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    @media #{$spView} {
      width: auto;
    }
  }
  .website-title {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    text-align: center;
    @media #{$spView} {
      padding: 0 10px;
      svg {
        width: 100%;
      }
    }
  }
  .website-description {
    line-height: 1.5;
    position: absolute;
    top: 125px;
    right: 0;
    left: 0;
    text-align: center;
    @include font_size(14);
    @media #{$spView} {
      padding: 0 10px;
    }
  }
  .big-banner {
    position: absolute;
    top: 75px;
    right: 0;
    left: 0;
    text-align: center;
  }
  .feed {
    a {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 50px;
      border-radius: 0 0 3px 3px;
      color: $black;
      text-decoration: none;
      background-color: $white;
      &:hover {
        background-color: $gray-light2;
      }
    }
  }
}
#Contents {
  width: 1020px;
  margin: 200px auto 0;
  padding-bottom: 30px;
  @extend .clearfix;
  @media #{$spView} {
    width: auto;
  }
}
#Main {
  width: 705px;
  float: left;
  @media #{$spView} {
    width: auto;
    float: none;
    margin-bottom: 20px;
  }
}
#Sub {
  width: 300px;
  float: right;
  @media #{$spView} {
    width: auto;
    float: none;
  }
  .banner {
    text-align: center;
  }
  dl {
    overflow: hidden;
    margin-top: 15px;
    border-radius: 3px;
    dt {
      display: block;
      padding: 15px 20px;
      color: $white;
      background-color: $ash-dark2;
    }
    dd {
      figure {
        margin-bottom: 10px;
        text-align: center;
      }
      li {
        border-top: 1px solid $white;
      }
      a {
        display: block;
        line-height: 1.25;
        padding: 10px 20px;
        color: $white;
        text-decoration: none;
        @include font_size(14);
        background-color: $gray;
        &:hover {
          padding-left: 30px;
          color: $white;
          background-color: $gray-light;
        }
      }
    }
    &.recent-entries {
      dd {
        li {
          border-top: 1px solid #ddd;
        }
        a {
          color: #333;
          background-color: #fff;
          span {
            display: block;
            &.date {
              margin-bottom: 5px;
            }
          }
          &:hover {
            color: $white;
            background-color: $gray-light;
          }
        }
      }
    }
  }
}
.profile-text {
  line-height: 1.5;
  padding: 15px 20px 20px;
  @include font_size(14);
  background-color: $white;
  .name {
    margin-bottom: 5px;
    @include font_size(18, 14);
  }
}
#GlobalFooter {
  width: 1020px;
  line-height: 1.75;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid $gray-light;
  color: $gray-light;
  @include font_size(14);
  text-align: center;
  @media #{$spView} {
    width: auto;
  }
}
/* ==================================================================

  canvas
------------------------------------------------------------------ */
#backgroundCanvas {
  min-width: 1020px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  @media #{$spView} {
    min-width: 100%;
  }
}
