@charset "utf-8";

/* ==================================================================

  entry 記事本文
------------------------------------------------------------------ */
.entry-body {
  line-height: 1.75;
  padding: 40px 30px;
  border-radius: 3px;
  background-color: $white;
  & > h1 {
    line-height: 1.25;
    margin-bottom: 10px;
    @include font_size(30);
  }
  .date {
    font-weight: 700;
    @include font_size(21);
  }
  p,ul,ol,dl,blockquote, pre, table {
    margin-bottom: 1.75rem;
  }
  h2, h3, h4, h5, h6 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }
  h2 {
    padding-top: 1.25rem;
    border-top: 3px dotted $ash-dark2;
    @include font_size(24);
  }
  h3 {
    @include font_size(21);
  }
  ul {
    li {
      list-style-type: disc;
      margin-top: 0.25rem;
      margin-left: 2.5rem;
    }
  }
  ol {
    li {
      list-style-type: decimal;
      margin-top: 0.25rem;
      margin-left: 2.5rem;
    }
  }
  blockquote {
    position: relative;
    padding: 1.25rem 1.25rem 0.75rem 60px;
    border-radius: 3px;
    color: $gray;
    font-style: italic;
    background-color: $gray-light2;
    &:before {
      content: '“';
      position: absolute;
      top: 0;
      left: 15px;
      @include font_size(48);
    }
    p {
      margin-bottom: 0.5rem;
    }
  }
  code {
    line-height: 1.5;
    border-radius: 3px;
    @include font_size(14);
    font-family: 'Source Code Pro', sans-serif;
  }
  table {
    overflow: hidden;
    border-radius: 3px;
    tbody {
      tr {
        th {
          padding: 0.5rem 1rem;
          border-top: 1px solid #fff;
          color: $white;
          text-align: left;
          background-color: $ash;
        }
        td {
          padding: 0.5rem 1rem;
          border-top: 1px solid #fff;
          background-color: $gray-light2;
        }
      }
    }
  }
  hr {
    margin: 1.75rem 0;
    border-top: 3px dotted $ash-dark2;
  }
  .img-center {
    text-align: center;
  }
  .rectangle-banner {
    margin: 3rem 0;
  }
  .snsWidget-inbody {
    margin-top: 15px;
    padding: 0;
    text-align: right;
    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 5px;
      padding: 0;
    }
  }
}
.snsWidget {
  margin-top: 15px;
  padding: 15px 0;
  border-radius: 3px;
  text-align: center;
  background-color: $white;
  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
  }
}
.rectangle-banner {
  margin: 15px 0;
  text-align: center;
}
.adjacentLink {
  margin-top: 15px;
  li {
    margin-bottom: 5px;
    a {
      display: block;
      line-height: 1.25;
      padding: 10px 30px;
      border-radius: 3px;
      color: $white;
      text-decoration: none;
      background-color: $gray;
      &:hover {
        background-color: $gray-light;
      }
    }
  }
}
.blogtop {
  a {
    display: block;
    line-height: 1.25;
    padding: 10px 30px;
    border-radius: 3px;
    color: $white;
    text-align: center;
    text-decoration: none;
    background-color: $gray;
    &:hover {
      background-color: $gray-light;
    }
  }
}
