@charset "utf-8";

$white : #ffffff;
$black : #333333;
$ash-light : rgba(80, 80, 70, 1);
$ash : rgba(100, 100, 60, 1);
$ash-dark : rgba(75, 75, 60, 1);
$ash-dark2 : rgba(65, 65, 50, 1);
$gray-light2 : #eee;
$gray-light : rgba(130, 140, 120, 1);
$gray : rgba(90, 100, 80, 1);

@mixin font_size($fontSize, $baseFontSize:16){
  font-size: percentage($fontSize / $baseFontSize);
}
@mixin box_center( $width : 980px ) {
  width: #{$width};
  margin-right: auto;
  margin-left: auto;
}
@mixin box_shadow {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
@mixin icon($num: 1) {
  $unit: 3;
  $unit_width: 24px;
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url(../images/common/icon.png) no-repeat;
  background-size: $unit * $unit_width 24px;
  background-position: $unit_width * ($num - 1) * -1 0;
}
