.l-gf {
  color: $color-white;
  background-color: $color-black;
  @include l-more-than-mobile {
  }
  @include l-pc-all {
    padding: 60px (2 / 30) * 100%;
    text-align: center;
  }
  @include l-tablet {
    padding: 50px (2 / 30) * 100%;
  }
  @include l-mobile {
    padding: 30px 20px;
  }
  &__affiliate {
    margin-top: 0;
    margin-bottom: 0;
    @include l-more-than-mobile {
      @include fontSize(12);
    }
    @include l-mobile {
      @include fontSize(11);
    }
  }
  &__license {
    margin-bottom: 0;
    @include l-more-than-mobile {
      margin-top: 30px;
    }
    @include l-mobile {
      margin-top: 20px;
    }
  }
}
