.l-page {
  @include l-more-than-mobile {
    width: (26 / 30) * 100%;
    margin-right: auto;
    margin-left: auto;
  }
  @include l-pc-all {
    margin-top: 50px;
    display: flex;
  }
  @include l-tablet {
    margin-top: 30px;
  }
  @include l-mobile {
    margin: 30px 20px;
  }
  &__main {
    @include l-pc-all {
      width: (18 / 26) * 100%;
    }
  }
  &__sub {
    @include l-pc-all {
      width: (8 / 26) * 100%;
    }
  }
}
