.l-page {
  @include l-more-than-mobile {
    width: (26 / 30) * 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
  }
  @include l-mobile {
    margin: 30px 20px 60px;
  }
  &__wrap {
    @include l-pc-all {
      margin-top: 50px;
      display: flex;
    }
    @include l-tablet {
      margin-top: 40px;
    }

  }
  &__main {
    @include l-pc-all {
      width: (16 / 26) * 100%;
      margin-bottom: 80px;
    }
    @include l-tablet {
      margin-bottom: 60px;
    }
    @include l-mobile {
      margin-bottom: 50px;
    }
  }
  &__sub {
    @include l-pc-all {
      width: (8 / 26) * 100%;
      margin-left: auto;
      margin-bottom: 30px;
    }
    @include l-tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    @include l-mobile {
      margin-bottom: 20px;
    }
  }
}
