.c-pager
  a.c-pager__item.c-pager__item--link.c-pager__item--adjacent(href="") Prev
  a.c-pager__item.c-pager__item--link(href="") 1
  span.c-pager__item.c-pager__item--current 2
  a.c-pager__item.c-pager__item--link(href="") 3
  a.c-pager__item.c-pager__item--link(href="") 4
  a.c-pager__item.c-pager__item--link(href="") 5
  a.c-pager__item.c-pager__item--link.c-pager__item--adjacent(href="") Next
