.p-profile {
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__image {
    @include l-mobile {
      width: 80px;
      height: 80px;
    }
  }
  &__body {
    margin-left: 20px;
  }
  &__head {
    margin: 0 0 10px;
    font-family: $font-en;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  &__text {
    margin: 0;
  }
  &__sns {
    display: flex;
    align-items: center;
    margin-top: 15px;
    &-item {
      display: block;
      margin-right: 10px;
      &--facebook {
        margin-right: 12px;
      }

    }
  }
  //
  // Interaction
  //
  &__sns {
    &-item {
      svg {
        fill: $color-black;
        transition-timing-function: $easeOutCirc;
        transition-duration: 0.4s;
      }
      &:hover {
        svg {
          fill: $color-link;
        }
      }
    }
  }
}
