@charset "utf-8";

body {
  color: #333;
}
.page {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  @include max-screen($range-mobile) {
    padding-right: 15px;
    padding-left: 15px;
  }
  @include screen($range-mobile, $range-screen-large) {
    padding-right: 30px;
    padding-left: 30px;
  }
  @include min-screen($range-screen-large) {
    width: $range-screen-large;
  }
}
.global-header {
  position: relative;
}
.website-title {
  font-size: 2em;
}
.website-summary {
  margin-top: 1em;
}
.website-feed {
  position: absolute;
  top: 30px;
  right: 30px;
}

@include max-screen($range-mobile) {

}
@include screen($range-mobile, $range-tablet) {
  
}
@include screen($range-tablet, $range-screen-small) {
  
}
@include screen($range-screen-small, $range-screen-large) {
  
}
@include min-screen($range-screen-large) {
  
}
