.l-gf
  p.l-gf__affiliate
    |jstarted.comはamazon.co.jpを宣伝しリンクすることによってサイトが紹介料を
    br.u-hidden-mobile
    |獲得できる手段を提供することを目的に設定されたアフィリエイト宣伝プログラムである、
    br.u-hidden-mobile
    |Amazonアソシエイト・プログラムの参加者です。
  p.l-gf__license
    small
      a(rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.ja")
        img(alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png")
        br
      span(xmlns:dct="http://purl.org/dc/terms/" property="dct:title")
        |jstarted.com
      |&nbsp;by&nbsp;
      a(xmlns:cc="http://creativecommons.org/ns#" href="http://www.jstarted.com/" property="cc:attributionName" rel="cc:attributionURL")
        |yoichi kobayashi
      |&nbsp;is licensed under a&nbsp;
      a(rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.ja")
        |Creative Commons 表示 3.0 非移植 License
      |.
