-
  var title = 'jstarted.com';
  var description = 'JavaScript/HTML/CSSのノウハウや覚書を掲載するブログ';  

.l-gh
  if (page.id == 'index')
    h1.l-gh__title
      .l-gh__title-en
        |#{title}
      .l-gh__title-ja
        |#{description}
  else
    .l-gh__title
      a.l-gh__title-en(href="/")
        |#{title}
      .l-gh__title-ja
        |#{description}
