.c-sub-section
  h2.c-sub-section__head
    |Categories
  .c-sub-section__body
    .c-archive-list
      a.c-archive-list__item(href="archive.html") Category Name (999)
      a.c-archive-list__item(href="archive.html") Category Name (999)
      a.c-archive-list__item(href="archive.html") Category Name (999)
      a.c-archive-list__item(href="archive.html") Category Name (999)

.c-sub-section
  h2.c-sub-section__head
    |Yearly Arhchives
  .c-sub-section__body
    .c-archive-list
      a.c-archive-list__item(href="archive.html") 2017 (999)
      a.c-archive-list__item(href="archive.html") 2016 (999)
      a.c-archive-list__item(href="archive.html") 2015 (999)
      a.c-archive-list__item(href="archive.html") 2014 (999)

.c-sub-section
  h2.c-sub-section__head
    |Recent Entries
  .c-sub-section__body
    .c-entries-s
      - for (var i = 0; i < 5; i++)
        a.c-entries-s__item(href="single.html")
          .c-entries-s__item-date
            |2017.12.31
          .c-entries-s__item-title
            |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
          
